//Define the number of footer areas
$genesis-footer-areas: 3; 				//Genesis support for the number of footer widgets is set in includes/genesis.php 

.footer-widgets {
	clear: both;
	
	.wrap {
		border-top: 1px solid darken($body-bg-color, 5%);
		@include padding-leader($rhythm-height);
		@include padding-trailer($rhythm-height);
	}
	
	// if dealing with only one footer widget area in includes/genesis.php 
	// but still want widgets in columns across the website - change to .widget 
	.widget-area {	
		
		@include breakpoint($mama-bear-and-up) {
			// $Mama-bear-total-columns is set in _layout.scss
			@include span($mama-bear-total-cols / $genesis-footer-areas of $mama-bear-total-cols); 
			
			&:nth-child(#{$genesis-footer-areas}) {
				@include omega;
			}
		}
		
		@include breakpoint($papa-bear) {
			// $Papa-bear-total-columns is set in _layout.scss
			@include span($papa-bear-total-cols / $genesis-footer-areas of $papa-bear-total-cols); 
			
			&:nth-child(#{$genesis-footer-areas}) {
				@include omega;
			}
		}
		
		
	}


	a {

		&:hover,
		&:focus,
		&:active {

		}
	}

	.widget {

	}

	.widgettitle {

	}

	li {
		@include word-break(break-word);
	}
}

.site-footer {
	@extend %remove-outer-gutter;		//Negative margins to bring block out to edge of .site-inner
	background: $footer-bg-color;
	color:$footer-text-color;
	@include padding-leader($rhythm-height);
	@include padding-trailer($rhythm-height);
	
	
	a {
		color:$footer-text-color;
	}
}

.design-fullwidth {
	.site-footer .wrap {
		background: $footer-bg-color;
	}
}
